.recipelist-screen {
    padding-top: 4em;
}

.recipelist-item {
    width: 85%;
    height: 3.2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.recipelist-label {
    width: 85%;
    text-overflow: ellipsis;
}

.recipelist-icon {
    float: right;
    position: absolute;   
}

.recipelist-timeinfo {
    float: right;
}